/* Desktop and larger devices */
@media (min-width: 1400px) {
  .bikes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .bikes-content {
    /* new code */
    align-self: center;
    /* new code */
    flex-grow: 1;
    max-width: 2000px;
    width: 100%;
  }

  .bikes-title {
    text-transform: uppercase;
    font-family: var(--secondary-fnt);
    text-align: center;
    /* new code */
    font-size: 2.5rem;
    margin: 100px auto;
    /* new code */
  }

  .bike-chooser-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 80px;
    margin: auto;
    color: #626262;
    justify-content: space-between;
    /* new code */
    max-width: 1000px;
    font-size: 1.5rem;
    /* new code */
    font-family: var(--secondary-fnt);
  }

  .bike-chooser-container > label {
    /* new code */
    width: 200px;
    cursor: pointer;
    /* new code */
  }

  .slider-container {
    border-bottom: 5px solid #ccc;
    /* new code */
    margin: auto;
    max-width: 1300px;
    /* new code */
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    border-radius: 5px;
    bottom: -5px;
  }

  .slider .bar {
    /* new code */
    width: 200px;
    /* new code */
    height: 5px;
    background: var(--company-clr);
    border-radius: 5px;
  }

  .slide-toggle {
    position: absolute;
    opacity: 0;
  }

  .bike-chooser-container label input span {
    color: #626262;
  }

  .bike-chooser-container label #slide-item-1:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-2:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-3:checked ~ span {
    color: var(--company-clr);
  }

  .first-selected {
    margin-left: 0;
    transform: translateX(0);
  }

  .second-selected {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .third-selected {
    margin-left: 100%;
    transform: translateX(-100%);
  }

  .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }

  .bike-wheel {
    /* new code */
    position: relative;
    margin: 150px auto;
    /* new code */
    /* margin-top: 30px; */
    height: 350px;
  }

  .bike-wheel-content {
    position: absolute;
    display: flex;
    width: 100%;
    /* gap: 10px; */
    /* new code */
    flex-direction: row;
    justify-content: space-around;
    /* new code */
  }

  .bike-wheel-item {
    cursor: pointer;
  }

  .bike-wheel-img {
    height: 250px;
    object-fit: contain;
  }

  .bike-wheel-title {
    text-align: center;
    font-family: var(--tertiary-fnt);
    font-size: 2rem;
  }

  .bike-wheel-text {
    text-align: center;
    font-family: var(--tertiary-fnt);
    color: var(--company-clr);
    font-size: 1.5rem;
  }

  .bike-wheel-text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bike-not-selected {
    opacity: 0;
  }

  .bike-selected {
    opacity: 1;
  }
}

/* Tablets and larger phones */
@media (max-width: 1400px) {
  .bikes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .bikes-content {
    flex-grow: 1;
    max-width: 2000px;
    align-self: auto;
  }

  .bikes-title {
    text-transform: uppercase;
    font-family: var(--secondary-fnt);
    text-align: center;
    font-size: 1.5rem;
    margin: 50px auto;
  }

  .bike-chooser-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 80px;
    margin: auto;
    color: #626262;
    justify-content: space-between;
    max-width: 500px;
    font-size: 1.2rem;
    font-family: var(--secondary-fnt);
  }

  .bike-chooser-container > label {
    width: 150px;
  }

  .slider-container {
    border-bottom: 5px solid #ccc;
    margin: auto 20px;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    border-radius: 5px;
    bottom: -5px;
  }

  .slider .bar {
    width: 150px;
    height: 5px;
    background: var(--company-clr);
    border-radius: 5px;
  }

  .slide-toggle {
    position: absolute;
    opacity: 0;
  }

  .bike-chooser-container label input span {
    color: #626262;
  }

  .bike-chooser-container label #slide-item-1:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-2:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-3:checked ~ span {
    color: var(--company-clr);
  }

  .first-selected {
    margin-left: 0;
    transform: translateX(0);
  }

  .second-selected {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .third-selected {
    margin-left: 100%;
    transform: translateX(-100%);
  }

  .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }

  .bike-wheel {
    margin-top: 30px;
    /* new code below this line */
    height: 350px;
    /* new code above this line */
  }

  .bike-wheel-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .bike-wheel-img {
    /* new code below this line */
    height: 250px;
    /* new code above this line */
    object-fit: contain;
  }

  .bike-wheel-title {
    text-align: center;
    font-family: var(--tertiary-fnt);
    font-size: 2rem;
  }

  .bike-wheel-text {
    text-align: center;
    font-family: var(--tertiary-fnt);
    color: var(--company-clr);
    font-size: 1.5rem;
  }

  .bike-wheel-text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bike-not-selected {
    opacity: 0;
  }

  .bike-selected {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .bikes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .bikes-content {
    flex-grow: 1;
    max-width: 2000px;
  }

  .bikes-title {
    text-transform: uppercase;
    font-family: var(--secondary-fnt);
    text-align: center;
    font-size: 1.5rem;
    margin: 30px auto;
  }

  .bike-chooser-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-family: var(--tertiary-fnt);
    height: 80px;
    margin: auto;
    color: #626262;
    /* new code below this line */
    justify-content: space-between;
    max-width: 500px;
    /* New code above this line */
  }

  .bike-chooser-container > label {
    width: 100px;
  }

  .slider-container {
    border-bottom: 5px solid #ccc;
    margin: auto 20px;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    border-radius: 5px;
    bottom: -5px;
  }

  .slider .bar {
    width: 100px;
    height: 5px;
    background: var(--company-clr);
    border-radius: 5px;
  }

  .slide-toggle {
    position: absolute;
    opacity: 0;
  }

  .bike-chooser-container label input span {
    color: #626262;
  }

  .bike-chooser-container label #slide-item-1:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-2:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-3:checked ~ span {
    color: var(--company-clr);
  }

  .first-selected {
    margin-left: 0;
    transform: translateX(0);
  }

  .second-selected {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .third-selected {
    margin-left: 100%;
    transform: translateX(-100%);
  }

  .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }

  .bike-wheel {
    /* new code below this line */
    margin-top: 30px;
    height: 250px;
    /* new code above this line */
  }

  .bike-wheel-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .bike-wheel-img {
    /* new code below this line */
    height: 180px;
    /* new code above this line */
    object-fit: contain;
  }

  .bike-wheel-title {
    text-align: center;
    font-family: var(--tertiary-fnt);
    font-size: 1.3rem;
  }

  .bike-wheel-text {
    text-align: center;
    font-family: var(--tertiary-fnt);
    color: var(--company-clr);
    font-size: 1rem;
  }

  .bike-wheel-text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bike-not-selected {
    opacity: 0;
  }

  .bike-selected {
    opacity: 1;
  }
}

/* x-small mobile */
@media (max-width: 320px) {
  .bikes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .bikes-content {
    flex-grow: 1;
    max-width: 2000px;
  }

  .bikes-title {
    text-transform: uppercase;
    font-family: var(--secondary-fnt);
    text-align: center;
    font-size: 1.5rem;
    margin: 30px auto;
  }

  .bike-chooser-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-family: var(--tertiary-fnt);
    height: 80px;
    margin: auto;
    color: #626262;
    justify-content: initial;
  }

  .bike-chooser-container > label {
    width: 100px;
  }

  .slider-container {
    border-bottom: 5px solid #ccc;
    margin: auto 20px;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    bottom: -5px;
    border-radius: 5px;
  }

  .slider .bar {
    width: 100px;
    height: 5px;
    background: var(--company-clr);
    border-radius: 5px;
  }

  .slide-toggle {
    position: absolute;
    opacity: 0;
  }

  .bike-chooser-container label input span {
    color: #626262;
  }

  .bike-chooser-container label #slide-item-1:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-2:checked ~ span {
    color: var(--company-clr);
  }

  .bike-chooser-container label #slide-item-3:checked ~ span {
    color: var(--company-clr);
  }

  .first-selected {
    margin-left: 0;
    transform: translateX(0);
  }

  .second-selected {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .third-selected {
    margin-left: 100%;
    transform: translateX(-100%);
  }

  .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }

  .bike-wheel {
    margin-top: auto;
    height: 200px;
  }

  .bike-wheel-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .bike-wheel-img {
    height: 150px;
    object-fit: contain;
  }

  .bike-wheel-title {
    text-align: center;
    font-family: var(--tertiary-fnt);
    font-size: 1.3rem;
  }

  .bike-wheel-text {
    text-align: center;
    font-family: var(--tertiary-fnt);
    color: var(--company-clr);
  }

  .bike-wheel-text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bike-not-selected {
    display: none;
    opacity: 0;
  }

  .bike-selected {
    opacity: 1;
  }
}
