/* Desktop and larger devices */
@media (min-width: 1400px) {
  /* NAVBAR */
  .container {
    background-color: var(--primary-clr);
  }
  nav {
    margin: auto;
    display: flex;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    max-width: 2000px;
  }

  .img-small {
    height: 40px;
    width: 40px;
  }

  .logo-small {
    font-family: var(--secondary-fnt);
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }

  .nav-items {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    font-family: var(--primary-fnt);
    font-size: 1rem;
    gap: 20px;
  }

  .nav-items > li {
    cursor: pointer;
  }

  /* Shop Now Button */

  .shop-now-btn {
    cursor: pointer;
    font-family: var(--tertiary-fnt);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    width: 200px;
    height: 70px;
    margin-left: 95px;
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .page-banner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: var(--tertiary-fnt);
    color: var(--secondary-clr);
    background-position: center top;
    text-transform: uppercase;
  }

  .social-media-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

/* Tablets and larger phones */
@media (max-width: 1400px) {
  /* NAVBAR */

  nav {
    display: flex;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }

  .img-small {
    height: 40px;
    width: 40px;
  }

  .logo-small {
    font-family: var(--secondary-fnt);
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
  }

  .nav-items {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    font-family: var(--primary-fnt);
    font-size: 1rem;
    gap: 20px;
  }

  /* Shop Now Button */

  .shop-now-btn {
    cursor: pointer;
    font-family: var(--tertiary-fnt);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    width: 200px;
    height: 70px;
    margin-left: 80px;
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .page-banner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--tertiary-fnt);
    color: var(--secondary-clr);
    background-position: center top;
    text-transform: uppercase;
  }

  .social-media-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}

/* regular mobile */
@media (max-width: 750px) {
  /* NAVBAR */

  nav {
    display: block;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    padding-left: 0;
    padding-right: 0;
  }

  .img-small {
    height: 40px;
    width: 40px;
  }

  .logo-small {
    font-family: var(--secondary-fnt);
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
  }

  .nav-items {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    font-family: var(--primary-fnt);
    font-size: 1rem;
    gap: 30px;
    justify-content: center;
  }

  /* Shop Now Button */

  .shop-now-btn {
    cursor: pointer;
    font-family: var(--tertiary-fnt);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    width: 150px;
    height: 50px;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 1rem;
  }

  .page-banner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--tertiary-fnt);
    color: var(--secondary-clr);
    background-position: center top;
    text-transform: uppercase;
  }

  .social-media-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }

  .view-collection-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: var(--tertiary-fnt);
    background-color: var(--company-clr);
    width: 150px;
    height: 40px;
    margin: 20px auto;
    font-size: 0.9rem;
  }
}

/* x-small mobile */
@media (max-width: 320px) {
  /* NAVBAR */

  nav {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
  }

  .img-small {
    height: 35px;
    width: 35px;
  }

  .logo-small {
    font-family: var(--secondary-fnt);
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
  }

  .nav-items {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    font-family: var(--primary-fnt);
    font-size: 1rem;
    gap: 15px;
    justify-content: center;
  }

  /* Shop Now Button */

  .shop-now-btn {
    cursor: pointer;
    font-family: var(--tertiary-fnt);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    width: 150px;
    height: 50px;
    margin-left: 65px;
    margin-top: 30px;
  }

  .page-banner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--tertiary-fnt);
    color: var(--secondary-clr);
    background-position: center top;
    text-transform: uppercase;
  }

  .social-media-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }

  .view-collection-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: var(--tertiary-fnt);
    background-color: var(--company-clr);
    width: 150px;
    height: 40px;
    margin: 20px auto;
    font-size: 0.9rem;
  }
}
